<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1 class="display-4">ANDROID WEEKLY</h1>
    <div class="card m-2" th:each="info : ${crawlingList}">
        <div class="card-body">
            <a href="${info.link}" target="_blank">
                <img th:src="${info.imageUrl}" claa="img-thumbnail"
                     style="border: 1px solid #333333;
                    height: auto;
                    line-height: 100%;
                    outline: none;
                    text-decoration: none;
                    display: inline;"
                />
            </a>
            <br/>
            <a class="article-headline" target="_blank" style="color:#0099CC; text-decoration: none; font-weight: bold;" th:href="${info.link}" th:text="${info.title}"></a>
            <p style="margin:0; line-height: 1.5em; font-size: 12px;" th:text="${info.content}"></p>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>
